 <ion-tabs >
  <ion-tab-bar color="dark" slot="bottom">
      <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          <ion-label class="tab-title">Home</ion-label>
        </ion-tab-button>
    <ion-tab-button tab="user">
      <!-- <ion-icon src="./assets/sample-icons/tabs/profile.svg"></ion-icon> -->
      <ion-icon name="paper"></ion-icon>
      <ion-label class="tab-title">Featured</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button (click)="openSideMenu()">
      <ion-icon src="./assets/sample-icons/tabs/notifications.svg"></ion-icon>
      <ion-label class="tab-title">More</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
