// http://ionicframework.com/docs/theming/
@import url('https://fonts.googleapis.com/css?family=Chilanka:300,400,500,700');

@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// EXTRA GLOBAL STYLES
// Add custom Ionic Colors
@import "./theme/custom-ion-colors.scss";
// Add base app styles
@import "./theme/app-defaults.scss";
// Add base shell styles
@import "./theme/shell-defaults.scss";

.deals-details-content{
    --background: url('./assets/images/gorillas/8x.jpg') !important;
//     -webkit-filter: blur(5px);
//     -moz-filter: blur(5px);
//     -o-filter: blur(5px);
//     -ms-filter: blur(5px);
//    filter:blur(5px);
  }

.home-content{
  --background: url('./assets/images/gorillas/8x.jpg') !important;
  
}


:root {
  ion-tab-button.tab-selected {
    ion-icon, ion-label {
      color:#00AFFF !important;
      --ion-color-base: #00AFFF !important;
    }
  }
}
